.header {
    font-family: "IBM Plex Mono", monospace;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .logo {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: bolder;
    font-size: 45px;
}

.header .navbar {
    font-family: "IBM Plex Mono", monospace;
    font-size: 20px;
}

.header .navbar a {
    text-decoration: none;
    color: #000;
    margin-right: 10px;
}
